<div class="wrapper">
  <h2 class="text-red-400 font-bold text-3xl mt-10">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="">
      <%= f.label :email %><br />
      <h2>something</h2>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Log in", class: 'm-1 p-1 bg-red-400 text-white rounded-md hover:bg-red-500 hover:text-white' %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
