<nav>
  <div class="flex justify-between bg-gray-800 text-white font-size-xl font-light p-2">
  <div class="text-red-300 justify-self-start font-bold hover:text-red-500">
  <span>RecipeOnRails</span>
  </div>

    <div class="justify-self-end">
      <ul>
      <%= link_to "Public Recipes", recipes_index_path, :class => 'hover:text-red-500 p-2' %>
        <% if user_signed_in? %>
          <%= link_to 'Foods', foods_path, :class =>'hover:text-red-500 p-2'%>
          <%= link_to "Users", users_path, :class => 'hover:text-red-500 p-2' %>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'hover:text-red-500 p-2' %>
          <%= link_to "My Recipe List", user_recipes_path(user_id: current_user.id), :class => 'hover:text-red-500 p-2' %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'hover:text-red-500 p-2' %>
          <%= link_to "Log in", new_user_session_path, :class => 'hover:text-red-500 p-2' %>
        <% end %>
      </ul>
    </div>
  </div>
  <% if user_signed_in? %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete, data: { turbo: false }, :class => 'float-right grid mt-2 p-2 bg-red-400 content-center rounded-md hover:bg-red-500 hover:text-white' %>
  <% end %>
</nav>
