<nav>
  <div>
    <span>RecipeOnRails</span>

    </button>
    <div>
      <ul>
      <%= link_to "Public Recipes", recipes_index_path, :class => 'nav-link' %>
      <%= link_to "Users", users_path, :class => 'nav-link' %>
        <% if user_signed_in? %>
          <%= link_to 'Foods', foods_path, :class =>'nav-link'%>
          <%= link_to "Users", users_path, :class => 'nav-link' %>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %>
          <%= link_to "My Recipe List", user_recipes_path(user_id: current_user.id), :class => 'nav-link' %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, data: { turbo: false }, :class => 'nav-link' %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link' %>
          <%= link_to "Log in", new_user_session_path, :class => 'nav-link' %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>